spring:
  application:
    name: "configserver"
  profiles:
    active: native
#    active: git
  cloud:
    config:
      server:
#        git:
#          uri: "https://github.com/eazybytes/eazybytes-config.git"
#          default-label: main
#          timeout: 5
#          force-pull: true
        native:
          search-locations: "file:///C://MyProject//Learning//sourcecode//config"
#  #          search-locations: "classpath:/config"
#    bus:
#      enabled: false
#
#  rabbitmq:
#    host: 127.0.0.1
#    port: 5672
#    username: guest
#    password: guest
#    connection-timeout: 30000
#    template:
#      reply-timeout: 10000
server:
  port: 8071
encrypt:
  key: LADFJDLFJ&*D())23892328932A

management:
  endpoints:
    web:
      exposure:
        include: "*"

  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true

  endpoint:
    health:
      probes:
        enabled: true

#logging:
#  level:
#    org.springframework.amqp: DEBUG
#    com.rabbitmq: DEBUG


